.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 3px 0;
}

input {
  padding: 15px;
  margin: 1px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 12px;
  color: gray;
}

span {
  font-size: 12px;
  letter-spacing: 0.02rem;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
